
h1 {
  color: black;
  font-family: verdana;
  font-size: 40px;
}
h4.fred {
    color: red;
    font-family: 'Lucida Console', "Courier New", monospace;
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
}
h4.ruth {
    color: orange;
    font-family: 'Lucida Console', "Courier New", monospace;
    font-size: 15px;
    font-weight: bold;
    font-style: oblique;
}
h4.king {
    color: blue;
    font-family: 'Lucida Console', "Courier New", monospace;
    font-size: 15px ;
    font-weight: bold;
    font-style: bold;
}
h4.all {
    color: blueviolet;
    font-family: 'Lucida Console', "Courier New", monospace;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}
h4.sam {
    color: darkred;
    font-family: 'Lucida Console', "Courier New", monospace;
    font-size: 15px;
    font-weight: normal;
    font-style: bold;
}
p.act
{
    color: black;
    font-family: cursive;
    font-size: 15px; 
}
p.song{
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}
p.speech{
    color: black;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 15px;
 }
p1.directions:hover
    {
        background-color: yellow;
        color: rgb(255, 0, 0);
        font-size: 15px;

    }
   table.styled-table {
        border-collapse: collapse;
        margin: 40px;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        text-align: middle;
    }
    table.styled-table thead tr {
        background-color: yellow;
        color: black;
        text-align: left;
    }
table.styled-table th,
table.styled-table td {
    padding: 10px 10px;
}
table.styled-table tbody tr {
    border-bottom: 2px solid black;
    }
    table.styled-table tbody tr {
        background-color: lightgray;
        color: black;
        text-align: left;
    }



    
      
